<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.Id}} </td>
    </ng-container>
  
    <!-- Agreement Column -->
    <ng-container matColumnDef="Agreement">
      <th mat-header-cell *matHeaderCellDef> Agreement </th>
      <td mat-cell *matCellDef="let element"> {{element.Agreement}} </td>
    </ng-container>
  
    <!-- Audit Column -->
    <ng-container matColumnDef="Audit">
      <th mat-header-cell *matHeaderCellDef> Audit </th>
      <td mat-cell *matCellDef="let element"> {{element.Audit}} </td>
    </ng-container>
  

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  